
.chat-list-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.chat-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.last-connection {
    font-size: 14px;
    color: gray;
}