
.chat_list_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    text-decoration: none;
}

.chat_link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
}

.profile_picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile_name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.last_connection {
    font-size: 14px;
    color: gray;
}