.form-group {
  margin-bottom: 15px;
  margin: 5px;
  border: 2px solid #E83151;
  border-radius: 7px;
  background-color: #df405a;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
  color: #fffef8;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: 1000px;
  font-weight: 600;
  font-style: normal;
}


.contact-input{
  width: 100%;
  min-height: 60px; /* mayor alto para ocupar más espacio */
  max-height: 200px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}
.contact-input::placeholder {
  font-family: 'comic sans ms', sans-serif;
  font-size: 14px;
  color: #696869;
}
.contact-input:focus {
  border-color: #4a8ef1;
}

.submit-button {
  justify-content: center;
  padding: 10px 15px;
  margin: 10px 0 0 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: 1000px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  align-self: flex-end; /* mueve el botón al margen derecho */
}